<br>
<div class="jumbotron">
  <h1>Bloccitoff</h1>
  <p>Bloccitoff is a resource for managing time sensitive to-do lists</p>
  <p>
    <%= link_to "Sign Up", new_user_registration_path, class: 'btn btn-primary' %> today!
  </p>
</div>

<div class="row"
